/* styles.css */

/* การตั้งค่าพื้นฐาน */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #333;
    background: #f0f0f0;
    background-image: url('https://github.com/useronlineid/all/blob/main/1688.jpg?raw=true'); /* เปลี่ยน path/to/your/background-image.jpg ให้เป็นที่อยู่ของรูปพื้นหลัง */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background: #4b4b4b;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.link-item {
    background: linear-gradient(135deg, #FFD700, #DAA520); /* ไล่สีทอง */
    color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    font-size: 1.2em;
    font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-item:hover {
    background: linear-gradient(135deg, #FFC700, #C8A200); /* ไล่สีทองเข้มขึ้นเมื่อ hover */
    transform: translateY(-5px);
}

.link-item:active {
    background: linear-gradient(135deg, #B8860B, #8B6508); /* ไล่สีทองเข้มสุดเมื่อ active */
    transform: translateY(1px);
}

footer {
    background: #4b4b4b;
    padding: 10px;
    text-align: center;
    color: white;
}
